@using asc_general.Models;
@using System.Dynamic;
@model dynamic 
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section idmanCss {
<link href="~/Public/css/themify-icons.css" rel="stylesheet" type="text/css">
@*<link href="~/Public/css/bootstrap.css" rel="stylesheet" type="text/css">*@
@*<link href="~/Public/css/slick.css" rel="stylesheet" type="text/css">*@
@*<link href="~/Public/css/magnific-popup.css" rel="stylesheet" type="text/css">*@
<link href="~/Public/css/idman.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

}

  <!-- Search Box Start -->
<!--  ===================== Search Box End =====================  -->
<!--  ===================== Hero Section Start =====================  -->

<!--  =====================  Hero Section End  =====================  -->
<!--  =====================  About Section Start  =====================  -->

    <section class="section" id="about" >
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-container">
                        <h6>Lorem Ipsum Dolor</h6>
                        <h3>Idman haqqında.</h3>
                        <span class="partition"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 text-center">
                    <img src="~/Public/images/about.jpg" alt="" />

                </div>
                <div class="col-md-6 col-md-offset-0 col-sm-12 col-sm-offset-0">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consectetur adipisicing elit, sed do adipisicing
                        elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet, sed
                        do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consectetur adipisicing elit, sed do adipisicing
                        elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet.
                    </p>
                    <h6>Lorem ipsum dolor sit amet</h6>
                    <p>
                        Consectetur adipisicing elit, sed do adipisicing elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod Lorem ipsum dolor sit amet, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod Lorem ipsum dolor sit amet.
                    </p>



                </div>
            </div>
        </div>
    </section>
    <!-- =====================  About Section End  ===================== -->
    <!-- =====================  Classes Section Start  ===================== -->
    <section class="section grey-bg" id="classes">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-container">
                        <h6>Lorem Ipsum Dolor</h6>
                        <h3>Növlər.</h3>
                        <span class="partition"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="class-list">
                        @foreach (gym_blog item in Model.gym)
                        {
                            <li>
                                <div class="class-box">
                                    <img src="~/Uploads/@item.photo" alt=""  style="height:220px;"/>
                                    <div class="class-box-content">
                                        <a href="@Url.Action("Index","gymblog",new { id = item.id })"><h2 style="color:#2a2eec;">@item.title</h2> </a> 
                                        <p>@item.description</p>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- =====================  Classes Section End  ===================== -->
    <!-- =====================  Video Section Start  ===================== -->
    <section class="video-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-container">
                        <h6>Lorem Ipsum Dolor</h6>
                        <h3>Lorem.</h3>
                        <span class="partition"></span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipctetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit, sed do eiusmod ed do eiusmod
                        </p>
                    </div>
                </div>
            </div>

        </div>
        @*</div>*@
    </section>
    <!-- =====================  Video Section End  ===================== -->
    <!-- =====================  Trainer Section Start  ===================== -->
    <section class="section" id="trainer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-container">
                        <h6>Lorem Ipsum Dolor</h6>
                        <h3>İdman Kompleksləri.</h3>
                        <span class="partition"></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="trainer-list">
                        @foreach (idman_kompp item in Model.idman)
                        {
                            <li>
                                <div class="trainer-box">
                                    <div class="trainer-img"><img src="~/Uploads/@item.photo" alt=""></div>
                                    <div class="trainer-details">
                                        <h6>@item.name</h6>
                                        <ul class="trainer-social">
                                            <li><a href="@item.facebook" target="_blank"><i class="ti-facebook"></i></a></li>
                                            <li><a href="@item.instagram" target="_blank"><i class="ti-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        }
                       

                    </ul>

                </div>
            </div>
        </div>
    </section>
